body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #640b3f;
  color: white;
  padding: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Hidden in mobile view */
  flex-direction: column;
  gap: 1em;
  background: #410f2c;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.album {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

figure {
  margin: 0;
  text-align: center;
}

footer {
  background-color: #420d0d;
  color: white;
  text-align: center;
  padding: 1em;
}
